---
layout: default
---

<article class="post-article">
	<div class="container">
		<header class="post-header fade-in">
			<time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">
				{{ page.date | date: "%B %-d, %Y" }}
			</time>
			<h1>{{ page.title }}</h1>
			{% if page.author %}<p class="post-author">{{ page.author }}</p>{% endif %}
		</header>
		<div class="post-content fade-in">
			{{ content }}
		</div>
		<div class="post-nav fade-in">
			<a href="{{ '/professional/blog' | relative_url }}">&larr; Back to Blog</a>
		</div>
	</div>
</article>
